.container-vendors {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.vendors-slider-wrapper {
    display: block;
    width: 100%;
}

.hide {
    display: none;
    opacity: 0%;
}

.vendors-slider {
    opacity: 100%;
    transition: all 0.2 ease-in-out;
}

.elementor-shortcode{
    .vendor-profile-tab-image {
        width: 250px !important;
        height: 250px !important;
        object-fit: cover;
        object-position: center;
    }

    .vendor-inner-wrapper {
        min-height: 400px !important;
    }

    .type-vendor-slide {
        @media (max-width: 425px){
            max-width: 100% !important;
        }
    }

    .tab-pane-vendors {
        .slider-navi {
            top: 0px !important;
        }
    }
}